<br>
<section class="profile" >
    <div fxLayout="row" fxLayoutAlign="space-evenly center">
        <section fxFlex="95" fxLayout="column" fxLayoutAlign="center">
            <div class="data-loading-shade" *ngIf="isLoading"><mat-spinner></mat-spinner></div>
            <mat-card fxFlex.xs="100%" fxFlex="90%">
                <div fxLayout="row" fxLayout.xs="column">
                    <div fxFlex fxLayout="row wrap">
                        <mat-form-field fxFill appearance="outline">
                            <mat-label>Buscar</mat-label>
                            <input matInput [(ngModel)]="searchQuery" (keyup.escape)="cleanSearch()" (keyup.enter)="applyFilter()" placeholder="Buscar">
                            <button matSuffix *ngIf="searchQuery" mat-icon-button (click)="cleanSearch()" [attr.aria-label]="'Clean Query'" [attr.aria-pressed]="'cleanQuery'">
                                <mat-icon>close</mat-icon>
                            </button>
                            <mat-hint><mat-slide-toggle #showAdvancedFilter (change)="toggleAdvancedFilter(showAdvancedFilter.checked)">Filtro Avanzado</mat-slide-toggle></mat-hint>
                        </mat-form-field>
                    </div>
                    <div fxFlex="none" fxFlex.xs="100" *ngIf="!showAdvancedFilter.checked" [@buttonInOut]>
                        <div fxFlex></div>
                        <section class="search-button">
                            <button mat-raised-button color="accent" (click)="applyFilter()">
                                <mat-icon>search</mat-icon> Buscar
                            </button>
                        </section>
                    </div>
                </div>
            </mat-card>

            <mat-accordion class="advanced-filter-container">
                    <mat-expansion-panel #advancedFilter  class="advanced-filter" [formGroup]="filterForm">
                        <br>
                        <div fxLayout.gt-sm="row" fxLayout="column" fxLayoutGap.gt-sm="10px">
    
                            <mat-form-field appearance="outline" fxFlex>
                                <mat-label>Fecha de Ingreso (Desde): </mat-label>
                                <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker1" formControlName="fecha_inicio" placeholder="Fecha de Ingreso (Desde)" readonly>
                                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                <mat-datepicker #picker1></mat-datepicker>
                            </mat-form-field>
    
                            <mat-form-field appearance="outline" fxFlex>
                                <mat-label>Fecha de Ingreso (Hasta): </mat-label>
                                <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker2" formControlName="fecha_fin" placeholder="Fecha de Ingreso (Hasta)" readonly>
                                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                <mat-datepicker #picker2></mat-datepicker>
                            </mat-form-field>
    
                        </div>
                        <div fxLayout.gt-sm="row" fxLayout="column" fxLayoutGap.gt-sm="10px">

                            <mat-form-field appearance="outline" fxFlex>
                                    <mat-label>Nombre del Paciente</mat-label>
                                    <input matInput placeholder="Nombre del Paciente" formControlName="nombre">
                                    <mat-error>Campo Requerido</mat-error>
                            </mat-form-field>

                            <mat-form-field appearance="outline" fxFlex>
                                <mat-label>Unidad Medica</mat-label>
                                <input type="text" aria-label="clues" matInput formControlName="clues" [matAutocomplete]="cluesAutocomplete">
                                <mat-autocomplete #cluesAutocomplete="matAutocomplete" [displayWith]="getDisplayFn('nombre')" [panelWidth]="'auto'">
                                        <mat-option *ngFor="let item of filteredCatalogs['clues'] | async" [value]="item">
                                            ({{ item.id }}) - {{ item.nombre }}
                                        </mat-option>
                                </mat-autocomplete>
                                <mat-hint *ngIf="filterForm.get('clues').value">{{filterForm.get('clues').value.clues}}</mat-hint>
                            </mat-form-field>

                        </div>

                        <div fxLayout.gt-sm="row" fxLayout="column" fxLayoutGap.gt-sm="10px">

                            <mat-form-field appearance="outline" fxFlex>
                                <mat-label>Estado Actual</mat-label>
                                <mat-select #estadoActualFilter formControlName="estados_actuales" [compareWith]="compareEstadoActualSelect">
                                    <mat-option>Sin Filtro</mat-option>
                                    <mat-option *ngFor="let item of filterCatalogs['estados_actuales']" [value]="item">
                                        {{item.nombre}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>

                            <mat-form-field appearance="outline" fxFlex>
                                <mat-label>Diagnosticos</mat-label>
                                <input type="text" aria-label="diagnosticos" matInput formControlName="diagnosticos" [matAutocomplete]="diagnosticosAutocomplete">
                                <mat-autocomplete #diagnosticosAutocomplete="matAutocomplete" [displayWith]="getDisplayFn('nombre')" [panelWidth]="'auto'">
                                    <mat-option *ngFor="let item of filteredCatalogs['diagnosticos'] | async" [value]="item">
                                        {{item.nombre}}
                                    </mat-option>
                                </mat-autocomplete>
                                <mat-hint *ngIf="filterForm.get('diagnosticos').value">{{filterForm.get('diagnosticos').value.nombre}}</mat-hint>
                            </mat-form-field>
    
                            <mat-form-field appearance="outline" fxFlex>
                                <mat-label>Altas ó Egresos</mat-label>
                                <mat-select formControlName="altas">
                                    <mat-option>Sin Filtro</mat-option>
                                    <mat-option value="1">Dadas de Alta</mat-option>
                                    <mat-option value="0">Hospitalizadas ó en Atención</mat-option>
                                </mat-select>
                            </mat-form-field>

                        </div>                    
                    
                    <div fxLayout="row wrap">
                        <div fxFlex></div>
                        <div fxFlex="none">
                            <button mat-flat-button (click)="filterForm.reset()">
                                Limpiar
                            </button>
                        </div>
                        <div fxFlex="none">
                            <button mat-raised-button color="accent" (click)="applyFilter()">
                                <mat-icon>search</mat-icon> Aplicar
                            </button>
                        </div>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
            
            <mat-card fxFlex.xs="100%" fxFlex="90%">

                <div fxLayout="row" fxLayout.xs="column" style="padding-bottom:10px;">
                    <div fxFlex>
                        <mat-chip-list aria-label="Fish selection">
                            <mat-chip *ngFor="let item of filterChips; let i = index" [disabled]="!item.active" [removable]="true" (removed)="removeFilterChip(item,i)" matTooltip="{{item.tooltip}}" [matTooltipPosition]="'above'">
                                {{item.tag}}
                                <mat-icon matChipRemove>cancel</mat-icon>
                            </mat-chip>
                        </mat-chip-list>
                    </div>
                    <!-- <button mat-raised-button color="info" (click)="showAddFirmanteDialog()" [ifHasPermission]="'KxDd9oPP1HNSGdqNM1bD9gexIxSXhkkm'"><mat-icon>people</mat-icon> Agregar Firmantes</button> -->
                    &nbsp;
                    <!-- <button *ngIf="!capturaFinalizada" mat-raised-button color="info" (click)="showAddEmployeDialog()" [ifHasPermission]="'KxDd9oPP1HNSGdqNM1bD9gexIxSXhkkm'"><mat-icon>keyboard</mat-icon> Buscar Empleado</button> -->
                    <!-- <button mat-icon-button (click)="reportePersonalActivoArea()"  [class.button-spinner]="isLoadingPDFArea" [disabled]="isLoadingPDFArea">
                        <mat-icon>description</mat-icon>
                    </button> -->
                </div>

                <section fxLayout="column" fxLayoutAlign="center stretch">
                    <button mat-stroked-button (click)="toggleReportPanel()" [class.button-spinner]="isLoadingPDF" [disabled]="isLoadingPDF">
                        <mat-icon>{{(showReportForm)?'unfold_more':'insert_drive_file'}}</mat-icon> Generar Reporte
                    </button>
                </section>
                <br>
                <div *ngIf="showReportForm || showMyStepper">
                    <div *ngIf="showReportForm">
                        <section fxLayout="column" fxLayoutAlign="center stretch">
                            <button mat-stroked-button (click)="reportePacientes()" color="info"><mat-icon class="material-icons-outlined">picture_as_pdf</mat-icon> Descargar Archivo PDF</button>
                        </section>
                    </div>
                    &nbsp;
                    <div class="my-stepper" *ngIf="showMyStepper">
                        <ng-container *ngFor="let step of stepperConfig.steps; let i = index">
                            <div class="my-step" [class.my-step-active]="step.status == 2" [class.my-step-done]="step.status == 3" [class.my-step-error]="step.status == 0">
                                <mat-icon>{{step.icon}}</mat-icon>
                                <div class="my-step-label">
                                    {{(step.status < 2)?step.label.standBy:((step.status == 2)?step.label.active:step.label.done)}} <mat-progress-bar *ngIf="step.status == 2" mode="indeterminate"></mat-progress-bar>
                                    <small *ngIf="step.status == 0" class="my-step-error-message">{{step.errorMessage}}</small>
                                </div>
                                <mat-icon *ngIf="step.status == 3">done</mat-icon>
                                <mat-icon *ngIf="step.status == 0">error</mat-icon>
                            </div>
                            <div *ngIf="(i+1) < stepperConfig.steps.length" class="my-step-separator"></div>
                        </ng-container>
                    </div>
                    <!--div class="my-stepper" *ngIf="showMyStepper">
                        <div class="my-step my-step-done">
                            <mat-icon>settings_remote</mat-icon>
                            <div class="my-step-label">
                                Cargando Datos
                            </div>
                            <mat-icon>done</mat-icon>
                        </div>
                        <div class="my-step-separator"></div>
                        <div class="my-step my-step-active">
                            <mat-icon>settings_applications</mat-icon>
                            <div class="my-step-label">
                                Generando PDF <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                            </div>
                        </div>
                        <div class="my-step-separator"></div>
                        <div class="my-step">
                            <mat-icon>save_alt</mat-icon>
                            <div class="my-step-label">
                                Preparar Archivo
                            </div>
                        </div>
                        <div class="my-step-separator"></div>
                        <div class="my-step my-step-error">
                            <mat-icon>save_alt</mat-icon>
                            <div class="my-step-label">
                                Preparar Archivo
                                <small class="my-step-error-message">Error al preparar el archivo</small>
                            </div>
                            <mat-icon>error</mat-icon>
                        </div>
                    </div-->
                </div>

                <mat-divider [inset]="true"></mat-divider>

                <div class="data-container">
                    <div class="data-table-container">
                        <table mat-table [dataSource]="dataSource" class="data-table" multiTemplateDataRows matSort>
                            <!-- ID Column -->
                            <ng-container matColumnDef="clues">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header fxHide.xs="xs"> Unidad Medica </th>
                                <td mat-cell *matCellDef="let row" fxHide.xs="xs"> ({{row.clues.id}}) - {{row.clues.nombre}} </td>
                            </ng-container>
                    
                            <!-- nombre completo Column -->
                            <ng-container matColumnDef="nombre">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
                                <td mat-cell *matCellDef="let row"> {{row.nombre}} {{row.paterno}} {{row.materno}} </td>
                            </ng-container>
                    
                            <!-- edad column -->
                            <ng-container matColumnDef="edad">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header fxHide.xs="xs"> Edad </th>
                                <td mat-cell *matCellDef="let row" fxHide.xs="xs"> {{row.edad}} años </td>
                            </ng-container>

                            <!-- fecha ingreso Column -->
                            <ng-container matColumnDef="fecha_ingreso">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header fxHide.xs="xs"> Fecha de Ingreso </th>
                                <td mat-cell *matCellDef="let row" fxHide.xs="xs"> {{row.fecha_ingreso | date: 'dd/MM/yyyy'}} </td>
                            </ng-container>

                            <ng-container matColumnDef="hora_ingreso">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header fxHide.xs="xs"> Hora de Ingreso </th>
                                <td mat-cell *matCellDef="let row" fxHide.xs="xs"> {{row.hora_ingreso}} </td>
                            </ng-container>

                            <ng-container matColumnDef="details">
                                <th mat-header-cell *matHeaderCellDef style="width: 115px;">Detalles</th>
                                <td mat-cell *matCellDef="let row">
                                    <button mat-icon-button color="primary" (click)="openDialogDetails(row)" matTooltip="Ver Datos de la Paciente"><mat-icon>remove_red_eye</mat-icon></button>&nbsp;
                                    <button mat-icon-button color="primary" (click)="fichaInformativa(row)"  matTooltip="Generar Tarjeta Informativa de la Paciente"><mat-icon>picture_as_pdf</mat-icon></button>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="actions">
                                <th mat-header-cell *matHeaderCellDef style="width: 115px;">Acciones</th>
                                <td mat-cell *matCellDef="let row">
                                    <button mat-icon-button color="primary" (click)="openDialogForm(row.id)" matTooltip="Editar Datos Personales de la Paciente"><mat-icon>edit</mat-icon></button> &nbsp;
                                    <button mat-icon-button color="warn" (click)="confirmDeletePaciente(row.id)" fxHide.xs="xs" fxHide.sm="true"><mat-icon>delete</mat-icon></button>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="noResultsFound">
                                <td mat-footer-cell *matFooterCellDef [attr.colspan]="displayedColumns.length">
                                    No se encontraron registros
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                            <tr mat-footer-row *matFooterRowDef="['noResultsFound']" class="no-results-found" [ngClass]="{'hide':!(dataSource!=null && dataSource.length==0)}"></tr>
                        </table>
                    </div>
                    <mat-paginator #paginator pageSize="20" [pageIndex]="currentPage" [length]="resultsLength" [pageSizeOptions]="[5, 10, 20, 50]" showFirstLastButtons (page)="pageEvent = loadPacientesData($event)"></mat-paginator>
                </div>
            </mat-card>
        </section>
    </div>
</section>